.catalog-slider {
  &__controls {
    display: none;
  }

  @include media-min ($xl) {
    &__controls {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      display: flex;
      padding: 0 10px;
      justify-content: space-between;
      pointer-events: none;
      z-index: 1;
      transform: translateY(-50%);
    }

    &__pagination {
      display: none;
    }
  }
}
