.catalog-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;

  @include media-min ($md) {
    grid-template-columns: repeat(3, 1fr);
  }

  @include media-min ($xxl) {
    grid-template-columns: repeat(4, 1fr);
  }
}
