.get-order {
  padding-top: 80px;
  padding-bottom: 80px;
  color: var(--theme-text);
  background-color: var(--theme-bg-accent-light);

  &__title {
    margin-bottom: 50px;
    text-align: center;
  }

  &__steps {
    counter-reset: steps;
    margin-bottom: 60px;
  }

  &__step {
    position: relative;
    padding-left: 84px;
    margin-bottom: 30px;
    counter-increment: step;

    &::before {
      content: counter(step);
      position: absolute;
      left: 0;
      top: 0;
      font-size: 32px;
      line-height: 1.3;
      font-weight: 700;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      color: var(--theme-text-inv);
      background-color: var(--accent);
    }
  }

  &__step-title {
    margin-bottom: 16px;
  }

  &__step-descr {
    @include cms-text;
  }

  @include media-min ($md) {
    padding-bottom: 100px;
  }

  @include media-min ($xl) {
    padding-top: 100px;

    &__title {
      margin-bottom: 60px;
    }

    &__steps {
      margin-bottom: 90px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 30px;
    }

    &__step {
      position: relative;
      padding-left: 0;
      padding-top: 84px;
      margin-bottom: 0;
    }
  }

  @include media-min ($xxl) {
    padding-bottom: 120px;
  }
}
