.get-price {
  border: 1px solid var(--gray-50);
  padding: 130px 20px 30px;
  border-radius: 24px;
  background-image: url('../img/default/get-price-cover.png');
  background-repeat: no-repeat;
  background-position: top right -60px;
  background-size: auto 200px;

  &__title {
    margin-bottom: 16px;
    max-width: 300px;
  }

  &__descr {
    @include cms-text;

    margin-bottom: 30px;
  }


  @include media-min ($md) {
    padding: 40px;
    padding-right: 305px;
    background-position: center right -40px;
    background-size: 305px auto;
    min-height: 390px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    &__title {
      max-width: none;
    }
  }

  @include media-min ($xl) {
    padding-left: 95px;
    padding-right: 570px;
    min-height: 640px;
    border-radius: 99em;
    background-size: 555px auto;

    &__title {
      margin-bottom: 40px;
    }

    &__descr {
      margin-bottom: 40px;
    }
  }

  @include media-min ($xxl) {
    padding-left: 222px;
    padding-right: 790px;
    min-height: 700px;
    background-size: 731px 590px;
    background-position: center right;

    &__title {
      font-size: 60px;
      line-height: 1.1;
    }
  }
}
