.hero {
  &__cover {
    display: block;
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    border-radius: 0 0 24px 24px;
    margin-bottom: 30px;
  }

  &__text-container {
    color: var(--theme-text);
    background-color: var(--theme-bg-accent-light);
  }

  &__title {
    font-size: 36px;
    line-height: 1.2;
    font-weight: 700;
    margin-bottom: 24px;
  }

  &__inner-content {
    @include cms-text;

    margin-bottom: 40px;
  }

  &__btn {
    text-align: center;
  }

  @include media-min ($md) {
    &__inner-content {
      margin-top: 12px;
    }

    &__btn {
      text-align: left;
    }
  }

  @include media-min ($xl) {
    position: relative;

    &__cover {
      position: absolute;
      right: 0;
      max-width: 50%;
      border-radius: 0 0 0 300px;
      max-height: none;
      height: 100%;
      margin-bottom: 0;
    }

    &__inner {
      padding-top: 120px;
      padding-bottom: 120px;
      min-height: 680px;
      max-width: 50%;
    }

    &__title {
      font-size: 60px;
      line-height: 1.1;
      margin-bottom: 30px;
    }

    &__inner-content {
      margin-top: 0;
      margin-bottom: 50px;
    }
  }

  @include media-min ($xxl) {
    &__cover {
      border-radius: 0 0 0 400px;
    }

    &__inner {
      padding-top: 140px;
      padding-bottom: 140px;
      min-height: 800px;
    }

    &__title {
      font-size: 72px;
      margin-bottom: 50px;
    }
  }
}
