.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: var(--btn-fz, 18px);
  font-weight: 700;
  line-height: 1.2;
  padding: var(--btn-offset, 23px 60px 25px);
  color: var(--btn-color, var(--white));
  background-color: var(--btn-bg, var(--accent));
  border: none;
  border-radius: 100% / 100%;
  cursor: pointer;
  text-decoration: none;

  @include media-min ($xl) {
    font-size: var(--btn-fz, 20px);
    transition: background-color var(--timing, .2s) ease-in-out;

    &:hover {
      background-color: var(--btn-bg, var(--gold-100));
    }
  }
}
