.catalog-card {
  --card-text: var(--theme-text);
  --card-bg: var(--theme-bg);
  --link-bg: var(--theme-bg);

  position: relative;
  display: flex;
  flex-direction: column;
  height: auto;
  color: var(--card-text);
  background-color: var(--card-bg);
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid transparent;

  &__cover {
    position: relative;
    height: 0;
    overflow: hidden;
    padding-bottom: 120%;

    & img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 1;
    }
  }

  &__link {
    flex-grow: 1;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.2;
    display: block;
    padding: 10px;
    color: inherit;
    background-color: var(--link-bg);
    text-decoration: none;
    text-align: center;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }
  }

  @include media-min ($md) {
    &__link {
      font-size: 20px;
    }
  }

  @include media-min ($xl) {
    transition: border-color .2s ease-in-out;

    &:hover {
      --card-text: var(--theme-text-inv);
      --link-bg: var(--accent);

      border-color: var(--accent);
    }

    &__link {
      font-size: 32px;
      padding: 24px;
      transition: color .2s ease-in-out, background-color .2s ease-in-out;
    }
  }
}
