.site {
  &__container {
    display: flex;
    flex-direction: column;
    min-height: calc(100 * var(--vh, 1vh));
  }

  &__header {
    flex-shrink: 0;
  }

  &__content {
    flex-grow: 1;

    &--inner-page {
      padding-top: 30px;
      padding-bottom: 70px;
    }
  }

  &__entry {
    @include cms-text;
  }

  &__footer {
    flex-shrink: 0;
  }

  @include media-min($md) {
    &__content {
      &--inner-page {
        padding-bottom: 80px;
      }
    }
  }

  @include media-min($xl) {
    &__content {
      &--inner-page {
        padding-bottom: 100px;
      }
    }
  }

  @include media-min($xxl) {
    &__content {
      &--inner-page {
        padding-bottom: 120px;
      }
    }
  }
}
